asgiref
certifi
charset-normalizer
Django
django-cors-headers
filelock
fsspec
huggingface-hub
idna
inflect
Jinja2
joblib
MarkupSafe
more-itertools
mpmath
networkx
numpy
packaging
pandas
pillow
python-dateutil
pytz
PyYAML
regex
requests
safetensors
scikit-learn
scipy
setuptools
six
sqlparse
sympy
threadpoolctl
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
typeguard
typing_extensions
tzdata
urllib3
